/* RESET BÁSICO */
body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* Fondo rojo Minnie */
    background-color: #e60026;

    /* Lunares blancos */
    background-image: radial-gradient(white 15%, transparent 16%);
    background-size: 40px 40px;
}

/* ENCABEZADO */
header {
    text-align: center;
    background-color: #ff1a4d;
    color: white;
    padding: 25px;
    font-size: 28px;
    letter-spacing: 2px;
}

/* CONTENEDOR PRINCIPAL */
.cuerpo {
    width: 85%;
    margin: 40px auto;
    display: flex;
    gap: 30px;

    background-color: rgba(255, 255, 255, 0.90); /* blanco transparente */
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

/* COLUMNA IZQUIERDA */
aside {
    width: 30%;
}

/* COLUMNA DERECHA */
main {
    width: 70%;
}

/* IMÁGENES */
.imagen {
    text-align: center;
    margin-bottom: 20px;
}

.imagen img {
    border-radius: 15px;
}

/* TÍTULOS */
h2 {
    color: #e6004d;
    border-bottom: 3px solid #ff4d88;
    padding-bottom: 5px;
    margin-top: 25px;
}

/* PÁRRAFOS */
.parrafos {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* LISTAS */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* TABLA AMIGOS */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
}

th {
    background-color: #ff4d88;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

table, th, td {
    border: 2px solid #ff99bb;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #ff1a4d;
    color: white;
    padding: 15px;
    margin-top: 40px;
}
